html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f2f6ee;
  font-family: 'Inter', 'Poppins', sans-serif;
  transition: background-color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

